
<div class="content">
    <div class="headerfont site_title" >Welcome to the 3D Art Gallery </div>
    <div class="headerfont site_sub_title"> Finally an art gallery built just for you!  Build and customize your own gallery.</div>

    <div id=siglink >
       <span class="sigtext">
          Hacked Together by Neil Jubinville <br>
          Ruby 2.2.1 ,  Rails 4.2 , CSS3, HTML5, WEBGL <br>
          MYSQLDB, LXC, AWS EC2 &  S3.

       </span>
    </div> 

</div>
